header {
    /* https://stackoverflow.com/questions/12609110/responsive-css-background-images */
    width: 100%;
    height: auto;
    background-image: url(./assets/images/familia_tomando.png);
    background-size: cover;
    font-family: 'Imprima', sans-serif;
    font-size: 1.5vw;
}

/* reglas para imagenes y letras aplicados hasta dispositivos medianos */
@media screen and (max-width: 500px) {
    header {
        height: auto;
        padding: 0 20px;
        font-size: 7vw;
    }

    header #introduction img {
        width: 80%;
    }
    
}

/* tamaño de la imagen del logo de kaffi*/
header #introduction img {
    width: 10vw;
    margin: 100px 0;
    margin-left: 20px;
}

/* tamaño de la imagen historia */
section #imagen-historia img {
    width: 20%;
}

/* tamaño de los granos de cafe de todas las tarjetas */
.coffe-grains-cards {
    height: 10%;
    width: auto;
}

.contenedor-tarjetas {
    margin: 35px;
}

/* estilos de las tarjetas claras */
.tarjeta-clara {
    background-color: #F6EACC;
}

/* estilos de titulos tarjetas claras */
.tarjeta-clara h6 {
    font-family: 'Inter', sans-serif;
}

/* estilos de los parrafos de las tarjetas claras */
.tarjeta-clara p {
    font-family: 'Imprima', sans-serif;
}

/* estilos de las tarjetas oscuras */
.tarjeta-oscura {
    background-color: #361C12;
}

/* estilos de titulos tarjetas oscuras */
.tarjeta-oscura h6 {
    font-family: 'Inter', sans-serif;
    color: #F6EACC;
}

/* estilos de los parrafos de las tarjetas claras */
.tarjeta-oscura p {
    font-family: 'Imprima', sans-serif;
    color: #F6EACC;
}


section #imagen-mision img {
    width:50%;
}

section #imagen-vision img {
    width: 50%;
}

/* estilos del footer */
body{
    background-color: #faf6ec;
}

footer{
    background-color: #361c12;
}

#social-media{
    box-sizing: border-box;
    width: 90%;
    margin: 0 auto;
}

#sucursales{
    box-sizing: border-box;
    width: 90%;
    margin: 0 auto;
}

.social-icon{
    width: 35px;
    height: 35px;
}
