body{
    background-color: #faf6ec;
    height: 100%;
    margin: 0;
}

/*================================ Header Styles ================================*/
header {
    /*https://stackoverflow.com/questions/12609110/responsive-css-background-images*/
    width: 100%;
    height: auto;
    background-image: url(../images/familia_tomando.png);
    background-size: cover;
    font-family: 'Imprima', sans-serif;
    font-size: 1em;
}


header #introduction-container {
    margin-left: 0.5em;
    margin-right: 0.5em;
    border-top: 2px;
    border-color: #ffffff;
    border-top-style: solid;
}
.header-logo-link:hover{
    border-bottom: 2px;
    border-bottom-style: solid;
    border-color: #ffffff;
}
.header-icons-link{
    font-size: 24px; 
    border-radius: 3em;
}
.header-menu-icon{
    border-radius: 1em;
}
.header-icons-link:hover, .header-menu-icon:hover{
    background-color: #9c846a8e;
}

#navegation-bar-logo {
    max-width: 100px;
}

.custom-toggler {
    background-color: transparent !important;
    border: none !important;
}

.custom-toggler:active,
.custom-toggler:focus {
    background-color: transparent !important;
    color: transparent !important;
}

.show .nav-link {
    text-decoration: none;
    font-size: 18px;
    /* Tamaño predeterminado del texto del menú */
    margin-left: 1rem;
}

.nav-link:hover {
    text-decoration-line: underline;
}

#img-logo-blanco {
    max-width: 30vh;
}

.description {
    max-width: 60vw;
}

/* Fin estilos para el header */

/* reglas para imagenes y letras aplicados hasta dispositivos medianos */
@media screen and (max-width: 500px) {
    header {
        height: auto;
        padding: 0 20px;
        font-size: 7vw;
    }

    
}
/* Estilos imagenes */
.pic-container img{
    height: 100%;
    width: 100%;
    object-fit:cover;
}

/* Inicio Estilos semillas de cafe */
#coffee-grains-container {
    height: 6vh;
}

/* tamaño de los granos de cafe de todas las tarjetas */
.coffe-grains-img {
    height: 100%;
}
/* Fin Estilos semillas de cafe */


/* estilos de las tarjetas claras */
.light-card {
    background-color: #F6EACC;
    max-width: 80vw;
}

/* estilos de los parrafos de las tarjetas claras */
.light-card #history-info h5,p {
    font-family: 'Imprima', sans-serif;
    color: #361C12;
}

.light-card h5 {
    font-family: 'Inter', sans-serif;
    color: #361C12;
}
.light-card p {
    font-family: 'Imprima', sans-serif;
    color: #361C12;
}

/* estilos de las tarjetas oscuras */
.dark-card {
    background-color: #361C12;
    max-width: 80vw;
}

/* estilos de titulos tarjetas oscuras */
.dark-card h5 {
    font-family: 'Inter', sans-serif;
    color: #F6EACC;
}

.dark-card p,li {
    font-family: 'Imprima', sans-serif;
    color: #F6EACC;
}

/* estilos de la tarjeta historia */

#button-history {
    background-color: #361C12;
    color:#F6EACC;
    font-family: 'Inter', sans-serif;
    margin: 3% 0 ;
    padding:3%;
    border-style: none;
}

#history-text {
    color: #361C12;
    padding:3%;
    text-align:justify;
}

/* estilos de la tarjeta mision */
#mision-text{
    padding: 0 10%;
    text-align:justify;
}

#mision-coffe-grains{
/* semillas claras 1 */
transform: rotate(-9.9deg);
}

/* estilos de la tarjeta vision */

#vision-text{
    padding: 0 10%;
    text-align:justify;
}

/* estilos de la tarjeta vision */

/* estilos de la tarjeta valores */
#values-text{
    padding: 0 10%;
    text-align:justify;
    color: #F6EACC;
}

#button-values {
    background-color: #F6EACC;
    color: #361C12;
    font-family: 'Inter', sans-serif;
    margin: 3% 0 ;
    padding:3%;
    border-style: none;
}

/* estilos sucursales */
#container-sucursales{
    background-color: #F6EACC;
    box-sizing: border-box;
    max-width: 80vw;
    margin: 0 auto;
    font-family: 'imprima', sans-serif;
    color: #361C12;
}

#container-sucursales a{
    color: white;
    text-decoration: none;
}

#container-sucursales a:hover{
    text-decoration: underline;
}
#container-sucursales h3{
    color: white;
}
#container-sucursales h3:hover{
    color: white;
    transform: scale(1.05);
}


#store-montejo{
    background-image: url(../images/imagen_sucursal_fcomontejo.png);
    background-size: cover;
    background-position: center;
    height: 100%;
    border-radius: 2em;
}
#store-caucel{
    background-image: url(../images/imagen_sucursal_caucel.png);
    background-size: cover;
    background-position: center;
    height: 100%;
    border-radius: 2em;
}

/* Estilos Developers Section */

#developers-team{
    max-width: 80vw;
}
/* semillas cafe rafa 9 */
#seeds-developers-team-left{
    transform: rotate(-18.81deg);
}

#seeds-developers-team-right{
transform: rotate(159.85deg);
}

#profile-cards{
width: 100%;
}

#profile-card {
    background-color: #F6EACC;
    color:#361c12;
    cursor: pointer;
}
#profile-card a {
    color:#361c12;
    text-decoration: none;
}

#profile-card:hover {
    background-color: #361c12;
    color: #F6EACC;
}

#profile-card:hover .card-text,#profile-card:hover a {
    color: #F6EACC; 
}

#profile-card a:hover{
    color: white; 
}

/*================================ Footer Styles ================================*/
footer{
    background-color: #361c12;
}

#social-media{
    box-sizing: border-box;
    width: 90%;
    margin: 0 auto;
}

#sucursales{
    box-sizing: border-box;
    width: 90%;
    margin: 0 auto;
}

.social-icon{
    width: 35px;
    height: 35px;
    margin: auto;
    transition: 1s;
}

.social-icon:hover{
    transform: scale(1.2);
    transition: 1s;
}


/* Barra de menu de los productos */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .horizontal-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #f2f2f2;
    display: flex;
  }
  
  .horizontal-menu li {
    padding: 15px;
    text-align: center;
    flex-grow: 1;
  }
  
  .horizontal-menu li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    display: block;
  }
  
  .horizontal-menu li:hover {
    background-color: #F6EACC;
  }
  