
/*================================= body Styles =================================*/
body{
    background-color:#faf6ec ;
}


/*================================ Header Styles ================================*/
header {
    /*https://stackoverflow.com/questions/12609110/responsive-css-background-images*/
    width: 100%;
    height: auto;
    background-image: url(../images/ContactPageHeader.jpg);
    background-size: cover;
    font-family: 'Imprima', sans-serif;
    font-size: 1em;
}


header #introduction-container {
    margin-left: 0.5em;
    margin-right: 0.5em;
    border-top: 2px;
    border-color: #ffffff;
    border-top-style: solid;
}
.header-logo-link:hover{
    border-bottom: 2px;
    border-bottom-style: solid;
    border-color: #ffffff;
}
.header-icons-link{
    font-size: 24px; 
    border-radius: 3em;
}
.header-menu-icon{
    border-radius: 1em;
}
.header-icons-link:hover, .header-menu-icon:hover{
    background-color: #9c846a8e;
}

#navegation-bar-logo {
    max-width: 100px;
}

.custom-toggler {
    background-color: transparent !important;
    border: none !important;
}

.custom-toggler:active,
.custom-toggler:focus {
    background-color: transparent !important;
    color: transparent !important;
}

.show .nav-link {
    text-decoration: none;
    font-size: 18px;
    /* Tamaño predeterminado del texto del menú */
    margin-left: 1rem;
}

.nav-link:hover {
    text-decoration-line: underline;
}

#img-logo-blanco {
    max-width: 30vh;
}

.description {
    max-width: 60vw;
}

/* Fin estilos para el header */

/*================================ Contact Styles ================================*/
#contact-container{
    background-color: #F6EACC;
    box-sizing: border-box;
    width: 80vw;
    margin: 0 auto;
    font-family: 'Imprima', sans-serif;
    font-size: 1.3rem;
}

#contact-container h4{
    font-family: 'inter', Bold;
    font-size: 1.4rem;
}

#contact-form label{
    font-size: 1.2rem;
}

.error-message{
    font-family:'inter', Bold;
    font-size: 0.6em;
    color: rgb(219, 34, 34);
}

.contact-buttons{
    max-width: 12em;
}

 button:hover{
    transform: scale(1.1);
}

.social-link {
    width: 70px;
    height: 70px;
    margin: auto;
    transition: 1s;
}

.social-link:hover{
    transform: scale(1.2);
    transition: 1s;
}

.phone-icon{
    height: 20px;
    width: auto;
}

#contact-container button{
    background-color: #361C12;
    color: #F6EACC;
}

#grains-container img{
    width: 100px;
    height: auto;
}


/*================================ Footer Styles ================================*/
footer{
    background-color: #361c12;
}

#social-media{
    box-sizing: border-box;
    width: 90%;
    margin: 0 auto;
}

#sucursales{
    box-sizing: border-box;
    width: 90%;
    margin: 0 auto;
}

.social-icon{
    width: 35px;
    height: 35px;
    margin: auto;
    transition: 1s;
}

.social-icon:hover{
    transform: scale(1.2);
    transition: 1s;
}

#Name-Input.invalid, #E-Mail-Input.invalid, #Commentary-Input.invalid{
border-color: lightcoral;
}

#Name-Input.valid, #E-Mail-Input.valid, #Commentary-Input.valid{
    border-color: lightgreen;
    }

#invalid-name-sign, #invalid-email-sign, #invalid-comment-sign{
    display: none;
    color: red;
}

#success-message-container{
    display: none;
    color: #361C12;
}