header {
    /* https://stackoverflow.com/questions/12609110/responsive-css-background-images */
    width: 100%;
    height: auto;
    background-color: #996229;
    background-size: cover;
    font-family: 'Imprima', sans-serif;
    font-size: 18px; /* Tamaño predeterminado del texto del menú */
}

/* reglas para imagenes y letras aplicados hasta dispositivos medianos */
@media screen and (max-width: 500px) {
    header {
        height: auto;
        padding: 0 20px;
        font-size: 7vw;
    }

    
}

#offer-products.container{
    background-color: #F6EACC ;
}

#offer-products p{
    font-family: "Imprima";
    font-size: 1.5rem;
}
#offer-products img{
    width: 200px;
    height:100px;
}


/* estilos del footer */
body{
    background-color: #faf6ec;
}

footer{
    background-color: #361c12;
}

#social-media{
    box-sizing: border-box;
    width: 90%;
    margin: 0 auto;
}

#sucursales{
    box-sizing: border-box;
    width: 90%;
    margin: 0 auto;
}

.social-icon{
    width: 35px;
    height: 35px;
}

/* semillas cafe rafa 9 */

#seeds-developers-team-left{
    transform: rotate(-18.81deg);
}

#seeds-developers-team-right{
transform: rotate(159.85deg);
}


#profile-card{
    background-color: #361c12;
    color: #ffffff;
}
#card-footer{
    color: #ffffff;
}

#navegation-bar-logo{
max-width: 100px;
}

.custom-toggler {
    background-color: transparent !important;
    border: none !important;
}

.custom-toggler:active,
.custom-toggler:focus {
    background-color: transparent !important;
    color: transparent !important;
}


.show .nav-link {
    text-decoration: none;
    font-size: 18px; /* Tamaño predeterminado del texto del menú */
    margin-left: 1rem;
}

.nav-link:hover {
    text-decoration-line: underline;
}

#img-logo-blanco{
    max-width: 30vh;
}
.description{
    max-width:60vw;
}