/* Inicio estilos para el header */
header {
    /* https://stackoverflow.com/questions/12609110/responsive-css-background-images */
    width: 100%;
    height: auto;
    background-color: #996229;
    background-size: cover;
    font-family: 'Imprima', sans-serif;
    font-size: 1em;
    /* Tamaño predeterminado del texto del menú */
}

header #introduction-container {
    margin-left: 0.5em;
    margin-right: 0.5em;
    border-top: 2px;
    border-color: #ffffff;
    border-top-style: solid;
}
.header-logo-link:hover{
    border-bottom: 2px;
    border-bottom-style: solid;
    border-color: #ffffff;
}
.header-icons-link{
    font-size: 24px; 
    border-radius: 3em;
}
.header-menu-icon{
    border-radius: 1em;
}
.header-icons-link:hover, .header-menu-icon:hover{
    background-color: #9c846a8e;
}

#navegation-bar-logo {
    max-width: 100px;
}

.custom-toggler {
    background-color: transparent !important;
    border: none !important;
}

.custom-toggler:active,
.custom-toggler:focus {
    background-color: transparent !important;
    color: transparent !important;
}

.show .nav-link {
    text-decoration: none;
    font-size: 18px;
    /* Tamaño predeterminado del texto del menú */
    margin-left: 1rem;
}

.nav-link:hover {
    text-decoration-line: underline;
}

#img-logo-blanco {
    max-width: 30vh;
}

.description {
    max-width: 60vw;
}

/* Fin estilos para el header */

/* reglas para imagenes y letras aplicados hasta dispositivos medianos */
@media screen and (max-width: 500px) {
    header {
        height: auto;
        padding: 0 20px;
        font-size: 7vw;
    }

    
}

/* estilos de la seccion de productos oferta */
/* Inicio Seccion promos Carrousel */
#offer-products-container{
    background-color: rgb(246, 234, 204);
}

.text-offers{
    font-family: "Imprima";
}


#text-offer-container{
    width:80%;
}

#seeds2{
   max-height: 5vh;
   width: auto;
}
#seeds2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-promo-carrousel {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Esto asegura que la imagen cubra completamente el contenedor sin deformarse */
}

.container-with-height {
    max-height: 50vh;
}

/* Fin Seccion Carrousel */


/* Inicio estilos de la seccion de productos de temporada */

#season-products {
    background-color: #F6EACC;
    margin: 8%;
}

#season-products #card-description img {
    width: 50%;
}

#season-products #card-description {
    margin-bottom: 50px;
    margin-top: 50px;
}

#season-products #card-description p {
    font-family: 'Imprima', sans-serif;
    color: #361c12;
    font-size: 1.1rem;
    text-align: center;
}

#season-products #card-description button {
    background-color: #361c12;
    padding: 15px;
    margin-top: 50px;
}

#season-products #card-description a {
    color: #F6EACC;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}

#season-products #first-row {
    margin-top: 50px;
}

#season-products #outstanding-product-1 img {
    width: 100%;
}

#season-products #outstanding-product-2 img {
    width: 100%;
}

#season-products #outstanding-product-3 img {
    width: 100%;
}

#season-products #outstanding-product-4 img {
    width: 100%;
}

#season-products #card-images p{
    font-family: 'Inter', sans-serif;
    color: #361c12;
}

#season-products #card-images {
    align-content:center;
}
/* termina seccion de productos destacados */

/* estilos del footer */
body{
    background-color: #faf6ec;
}

footer{
    background-color: #361c12;
}

#social-media{
    box-sizing: border-box;
    width: 90%;
    margin: 0 auto;
}

#sucursales{
    box-sizing: border-box;
    width: 90%;
    margin: 0 auto;
}

.social-icon{
    width: 35px;
    height: 35px;
}

/* semillas cafe rafa 9 */

#seeds-developers-team-left{
    transform: rotate(-18.81deg);
}

#seeds-developers-team-right{
transform: rotate(159.85deg);
}


#profile-card{
    background-color: #361c12;
    color: #ffffff;
}
#card-footer{
    color: #ffffff;
}

#navegation-bar-logo{
max-width: 100px;
}

.custom-toggler {
    background-color: transparent !important;
    border: none !important;
}

.custom-toggler:active,
.custom-toggler:focus {
    background-color: transparent !important;
    color: transparent !important;
}


.show .nav-link {
    text-decoration: none;
    font-size: 18px; /* Tamaño predeterminado del texto del menú */
    margin-left: 1rem;
}

.nav-link:hover {
    text-decoration-line: underline;
}

#img-logo-blanco{
    max-width: 30vh;
}
.description{
    max-width:60vw;
}


/* Top Products */

/* Estilos para la sección de los productos destacados */
.top-products-section {
    background-color: #361c12;
    margin: 8%;
}

/* Estilos para el contenedor principal */
.products-container {
    background-color: #361c12;
    color: white;
}

/* Estilos para la fila de productos */
.products-row {
    background-color: #361c12;
}

/* Estilos para la columna 1 */
.column1 {
    background-color: #361c12;
    color: beige;
}

/* Estilos para cada fila de productos */
.product-row {
    background-color: #361c12;
    margin: 0.5em;
}

/* Estilos para cada columna de producto */
.product-col {
    background-color: #361c12;
    margin: 0.5em;
}

/* Estilos para la información de cada producto */
.product-info {
    text-align: center;
}

/* Estilos para la imagen de cada producto */
.product-image {
    max-width: 100%;
    width: 140px;
    display: block;
    margin: 0 auto;
}

/* Estilos para el texto del nombre del producto */
.product-name {
    font-weight: bold;
}

/* Estilos para el texto adicional del producto */
.product-text {
    color: #888;
}

/* Estilos para la columna 2 */
.column2 {
    background-color: #361c12;
    color: #361c12;
}

/* Estilos para la información destacada */
.highlight-info {
    color:  white;
    padding: 1em;
    margin: 0.5em;
}



/* Estilos para el contenedor de la imagen de los granos de café */
.highlight-image {
    position: relative; /* Establece el posicionamiento relativo para el contenedor */
    width: 200px; /* Ancho del contenedor */
    height: 100px; /* Altura del contenedor */
    margin-left: auto; /* Empuja el contenedor hacia la derecha */
    margin-top: auto; /* Empuja el contenedor hacia abajo */
}

/* Estilos para la imagen de los granos de café */
.highlight-image img {
    max-width: 100%; /* Ajusta el ancho máximo de la imagen al contenedor */
    height: auto; /* Ajusta la altura automáticamente */
    position: absolute; /* Establece el posicionamiento absoluto para la imagen */
    bottom: 0; /* Coloca la imagen en la parte inferior del contenedor */
    right: 0; /* Coloca la imagen en la esquina derecha del contenedor */
    transform: rotate(180.85deg); /* Gira la imagen */
}

