/*================================= body Styles =================================*/
body{
    background-color:#faf6ec ;
}


/*================================ Header Styles ================================*/
header {
    /*https://stackoverflow.com/questions/12609110/responsive-css-background-images*/
    width: 100%;
    height: auto;
    background-color: #996229;
    background-size: cover;
    font-family: 'Imprima', sans-serif;
    font-size: 1em;
}


header #introduction-container {
    margin-left: 0.5em;
    margin-right: 0.5em;
    border-top: 2px;
    border-color: #ffffff;
    border-top-style: solid;
}
.header-logo-link:hover{
    border-bottom: 2px;
    border-bottom-style: solid;
    border-color: #ffffff;
}
.header-icons-link{
    font-size: 24px; 
    border-radius: 3em;
}
.header-menu-icon{
    border-radius: 1em;
}
.header-icons-link:hover, .header-menu-icon:hover{
    background-color: #9c846a8e;
}

#navegation-bar-logo {
    max-width: 100px;
}

.custom-toggler {
    background-color: transparent !important;
    border: none !important;
}

.custom-toggler:active,
.custom-toggler:focus {
    background-color: transparent !important;
    color: transparent !important;
}

.show .nav-link {
    text-decoration: none;
    font-size: 18px;
    /* Tamaño predeterminado del texto del menú */
    margin-left: 1rem;
}

.nav-link:hover {
    text-decoration-line: underline;
}

#img-logo-blanco {
    max-width: 30vh;
}

.description {
    max-width: 60vw;
}

/* Fin estilos para el header */


/*================================ Login Styles ================================*/

#login-container{
    box-sizing: border-box;
    margin: 0 auto;
    font-family: 'Imprima', sans-serif;
    font-size: 1.3rem;
    width: 100%;
}

#login-container button{
    background-color: #361c12;
    color: white;
}

#login-container button:hover{
    transform: scale(1.1);
}

/* Contenedor login */
#login-form {
    background-color: rgb(246, 234, 204);
    border-style: none;
    border-radius: 2em;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    margin: 0 auto; 
    max-width: 400px; 
}

#enlace-recuperacion {
    color: #361c12;
}

#login-form a{
    text-decoration: none;
}

#enlace-recuperacion:hover{
    color: #361c12;
    text-decoration: underline;
}

@media only screen and (min-width: 767px) {
    #image-login-container{
        background-image: url(../images/login_bg_lg.png);
        background-size:cover;
        background-position: center;
        height: 100vh;
    }
    
    #image-login-container img{
        max-width: 20vw;
        min-width: 18vw;
        height: auto;
    }
}

@media only screen and (max-width: 767px) {
    #image-login-container{
        background-image: url(../images/login_bg_sm.png);
        background-size:cover;
        background-position: center;
    }
    
    #image-login-container img{
        max-width: 30vw;
        min-width: 28vw;
        height: auto;
    }
}

#register-now-text{
    max-width: 80vw;
}
/*================================ Footer Styles ================================*/
footer{
    background-color: #361c12;
    width: 100%;
}

#social-media{
    box-sizing: border-box;
    width: 90%;
    margin: 0 auto;
}

#sucursales{
    box-sizing: border-box;
    width: 90%;
    margin: 0 auto;
}

.social-icon{
    width: 35px;
    height: 35px;
    margin: auto;
    transition: 1s;
}

.social-icon:hover{
    transform: scale(1.2);
    transition: 1s;
}
