/*================================= body Styles =================================*/
body {
    background-color: #faf6ec;
    height: 100%;
    margin: 0;
}

/*================================ Header Styles ================================*/
header {
    /* https://stackoverflow.com/questions/12609110/responsive-css-background-images */
    background-color: #996229;
    font-family: 'Imprima', sans-serif;
    font-size: 1em;
    /* Tamaño predeterminado del texto del menú */
}

.header-logo-link:hover {
    border-bottom: 2px;
    border-bottom-style: solid;
    border-color: #ffffff;
}

.header-icons-link {
    font-size: 24px;
    border-radius: 3em;
}

.header-menu-icon {
    border-radius: 1em;
}

.header-icons-link:hover,
.header-menu-icon:hover {
    background-color: #9c846a8e;
}

#navegation-bar-logo {
    max-width: 100px;
}

.custom-toggler {
    background-color: transparent !important;
    border: none !important;
}

.custom-toggler:active,
.custom-toggler:focus {
    background-color: transparent !important;
    color: transparent !important;
}

.show .nav-link {
    text-decoration: none;
    font-size: 18px;
    /* Tamaño predeterminado del texto del menú */
    margin-left: 1rem;
}

.nav-link:hover {
    text-decoration-line: underline;
}

#img-logo-blanco {
    max-width: 30vh;
}

.description {
    max-width: 60vw;
}

#shopping-cart{
    position: relative;
    width: 60px;
}

#shopping-cart #cart-counter{
    position: absolute;
    text-align: center;
    right:0px;
    top: 3px;
    font-size: 1em;
    width: 1.5em;
    background-color: #7E4F25;
}

#shopping-cart #cart-icon{
    position: absolute;
    text-align: center;
    top:8px;
}

/*================================== Menu styles ==================================*/
html{
    scroll-behavior: smooth;
}

#logo-container {
    box-sizing: border-box;
    width: 90%;
    margin: 0 auto;
}

#logo-container div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo-container h5{
    font-family: 'Imprima', sans-serif;
    color: #361c12;
    font-size: 1.8rem;
}

#menu-container nav{
    background-color:  #faf6ec;
    width: 80vw;
}

#menu-container ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
}

#menu-container li {
    float: left;
}

#menu-container button {
    background-color: #361c12;
    color: #ffffff;
    font-size: 7rem;
}

#menu-container li a {
    display: block;
    text-align: center;
    text-decoration: none;
    font-family: 'Imprima', sans-serif;
    color: #361c12;
    font-size: 1rem;
}


@media only screen and (max-width: 767px) {
    #menu-container li a:hover {
        text-decoration: underline;
        transform: scale(1.1);
    }
}

@media only screen and (min-width: 767px) {
    #menu-container li a:hover {
        border-bottom: 3.5px solid #361c12;
    }
}

@media only screen and (max-width: 767px) {
    #menu-container nav {
        background-color: #F6EACC;
        border-radius: 0.5em;
        align-items: center;
        justify-content: center;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
}

#products-container{
    max-width: 80vw;
}
#products {
    font-size: 1rem;
}

#products .product-cards{
    /* border: 1.2px solid #361c12; */
    background-color: #F6EACC;
    min-height: 20vh;
    max-width:80vw ;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#products .product-cards p{
    font-family: 'Imprima', sans-serif;
    color: #361c12;
    font-size: 0.8rem;
}

#products button{
    background-color: #361c12;
    border: #361c12;
    color: #ffffff;
}

#products img{
    width: 120px;
    height: 120px;
    box-sizing: border-box;
    margin: 0 auto;
}


/*================================ Footer Styles ================================*/
footer {
    background-color: #361c12;
}

#social-media {
    box-sizing: border-box;
    width: 90%;
    margin: 0 auto;
}

#sucursales {
    box-sizing: border-box;
    width: 90%;
    margin: 0 auto;
}

.social-icon {
    width: 35px;
    height: 35px;
    margin: auto;
    transition: 1s;
}

.social-icon:hover {
    transform: scale(1.2);
    transition: 1s;
}

