/* Inicio estilos para el header */
header {
    /* https://stackoverflow.com/questions/12609110/responsive-css-background-images */
    width: 100%;
    height: auto;
    background-color: #996229;
    background-size: cover;
    font-family: 'Imprima', sans-serif;
    font-size: 1em;
    /* Tamaño predeterminado del texto del menú */
}

header #introduction-container {
    margin-left: 0.5em;
    margin-right: 0.5em;
    border-top: 2px;
    border-color: #ffffff;
    border-top-style: solid;
}
.header-logo-link:hover{
    border-bottom: 2px;
    border-bottom-style: solid;
    border-color: #ffffff;
}
.header-icons-link{
    font-size: 24px; 
    border-radius: 3em;
}
.header-menu-icon{
    border-radius: 1em;
}
.header-icons-link:hover, .header-menu-icon:hover{
    background-color: #9c846a8e;
}

#navegation-bar-logo {
    max-width: 100px;
}

.custom-toggler {
    background-color: transparent !important;
    border: none !important;
}

.custom-toggler:active,
.custom-toggler:focus {
    background-color: transparent !important;
    color: transparent !important;
}

.show .nav-link {
    text-decoration: none;
    font-size: 18px;
    /* Tamaño predeterminado del texto del menú */
    margin-left: 1rem;
}

.nav-link:hover {
    text-decoration-line: underline;
}

#img-logo-blanco {
    max-width: 30vh;
}

.description {
    max-width: 60vw;
}

/* Fin estilos para el header */

#profile-section-container{
    width:80vw;
}

body{
    background-color: #faf6ec;
    font-family: 'Imprima', sans-serif;
    font-size: 1em;
}


.searchbar{
    background-color: white;
    border-radius: 2em;
}

.searchbar input{
    background-color: white;
    border-style: none;
    border-radius: 2em;
    text-align: center;
}

.searchbar input:focus {
    outline: none;
    box-shadow: none;
}
/* Botones */
.searchbar input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-clear-button {
    -webkit-appearance: none;
    appearance: none;
}

.option-button {
    background-color: rgb(246, 234, 204);
    border-radius: 0.5em;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.25);
    min-height: 10vh;
    cursor: pointer;
}
.option-button button{
    background-color: rgb(246, 234, 204);
    border-color: none;
    border-style: none;
}
.option-button button:hover{
    text-decoration: underline;
}

/* Contenedores opciones */
#option-logo, #container-products .col-md-10, #container-orders .col-md-10, #container-comments .col-md-10 {
    background-color: rgb(246, 234, 204);
    border-radius: 0.5em;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.25);
}

.product-form-input{
    border-style: none;
    border-radius: 0.5em;
}
.product-form-button{
    background-color: #361c12; 
    border-radius: 2em; 
    border-style: none;
    color: #F6EACC;
    max-width: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-form-button i.fa-sm{
    padding: 1em;
}
.product-form-button i.fa-xl{
    padding: 0.7em 1em;
}
.change-img-button{
    background-color: #361c12; 
    border-radius: 2em; 
    border-style: none;
    color: #F6EACC;
    cursor: pointer;
}

#product-img-container{
    height: 100px;
    width: 100px;
}

#product-img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Esto asegura que la imagen cubra completamente el contenedor sin deformarse */
}

#options-lateral-menu{
    display: none;
}
/* estilos del footer */

footer{
    background-color: #361c12;
}

#social-media{
    box-sizing: border-box;
    width: 90%;
    margin: 0 auto;
}

#sucursales{
    box-sizing: border-box;
    width: 90%;
    margin: 0 auto;
}

.social-icon{
    width: 35px;
    height: 35px;
    margin: auto;
    transition: 1s;
}

.social-icon:hover{
    transform: scale(1.2);
    transition: 1s;
}