/* Inicio estilos para el header */
header {
    /* https://stackoverflow.com/questions/12609110/responsive-css-background-images */
    width: 100%;
    height: auto;
    background-color: #996229;
    background-size: cover;
    font-family: 'Imprima', sans-serif;
    font-size: 1em;
    /* Tamaño predeterminado del texto del menú */
}

header #introduction-container {
    margin-left: 0.5em;
    margin-right: 0.5em;
    border-top: 2px;
    border-color: #ffffff;
    border-top-style: solid;
}
.header-logo-link:hover{
    border-bottom: 2px;
    border-bottom-style: solid;
    border-color: #ffffff;
}
.header-icons-link{
    font-size: 24px; 
    border-radius: 3em;
}
.header-menu-icon{
    border-radius: 1em;
}
.header-icons-link:hover, .header-menu-icon:hover{
    background-color: #9c846a8e;
}

/* inicia estilos de numero de items en icono de carrito */
#shopping-cart{
    position: relative;
    width: 60px;
}

#shopping-cart #cart-counter{
    position: absolute;
    text-align: center;
    right:0px;
    top: 3px;
    font-size: 1em;
    width: 1.5em;
    background-color: #7E4F25;
}

#shopping-cart #cart-icon{
    position: absolute;
    text-align: center;
    top:8px;
}

/* termina estilos de numero de items en icono de carrito */

#navegation-bar-logo {
    max-width: 100px;
}

.custom-toggler {
    background-color: transparent !important;
    border: none !important;
}

.custom-toggler:active,
.custom-toggler:focus {
    background-color: transparent !important;
    color: transparent !important;
}

.show .nav-link {
    text-decoration: none;
    font-size: 18px;
    /* Tamaño predeterminado del texto del menú */
    margin-left: 1rem;
}

.nav-link:hover {
    text-decoration-line: underline;
}

#img-logo-blanco {
    max-width: 30vh;
}

.description {
    max-width: 60vw;
}

/* Fin estilos para el header */

#profile-section-container{
    width:80vw;
}

body{
    background-color: #faf6ec;
    font-family: 'Imprima', sans-serif;
    font-size: 1em;
    color: #361C12;
}
.option-button .fa-solid{
    color:#361c12;
}

.option-button {
    background-color: rgb(246, 234, 204);
    border-radius: 0.5em;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.25);
    min-height: 10vh;
    cursor: pointer;
}
.option-button button{
    background-color: rgb(246, 234, 204);
    border-color: none;
    border-style: none;
}
.option-button button:hover{
    text-decoration: underline;
}
.fa-right-from-bracket{
    color:rgb(246, 234, 204);
}
.option-button-dark {
    background-color: #361c12; 
    border-radius: 0.5em;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.25);
    min-height: 10vh;
    cursor: pointer;
}
.option-button-dark button{
    background-color: #361c12; 
    border-color: none;
    border-style: none;
    color:rgb(246, 234, 204);
    font-weight: 500;
}
.option-button-dark button:hover{
    text-decoration: underline;
}

/* Contenedores opciones */
.container-forms{
    background-color: rgb(246, 234, 204);
    border-radius: 0.5em;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.25);
}
.container-forms h6, .actual-data{
    font-weight: bold;
    font-family: 'inter', sans-serif;
}

#actual-name, #actual-lastName, #actual-email{
    font-weight: bold;
}
.order-card {
    background-color: #F6EACC;
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); */ /* Ajusta los valores según tu preferencia */
    color: #361C12;
    border-bottom: #361C12;
    border-bottom-style: dotted;
    border-bottom-width: thick;
}

#options-lateral-menu{
    display: none;
}

.error-message{
    font-family:'inter', Bold;
    font-size: 0.8em;
    color: rgb(219, 34, 34);
}

#comments-success-message-container, #address-success-message-container, #name-success-message-container, #lastName-success-message-container, #email-success-message-container, #password-success-message-container{
    display: none;
}

#Name-Input.invalid, #E-Mail-Input.invalid, #LastName-Input.invalid, #Password-Input.invalid, #Check-Password-Input.invalid.container-forms,
#inputStreet.invalid, #inputOutsideNum.invalid, #inputInsideNum.invalid, #inputColony.invalid, #inputMunicipality.invalid, #inputZip.invalid,
#Commentary-Input.invalid{
    border-color: lightcoral;
}
    
#Name-Input.valid, #E-Mail-Input.valid, #LastName-Input.valid, #Password-Input.valid, #Check-Password-Input.valid,
#inputStreet.valid, #inputOutsideNum.valid, #inputInsideNum.valid, #inputColony.valid, #inputMunicipality.valid, #inputZip.valid{
    border-color: lightgreen;
}
    
#invalid-name-sign, #invalid-lastName-sign, #invalid-email-sign, #invalid-oldPassword-sign, #invalid-newPassword-sign, #invalid-check-password-sign,
#invalid-street-sign, #invalid-outsideNum-sign, #invalid-insideNum-sign, #invalid-colony-sign, #invalid-zip-sign, #invalid-municipality-sign,
#invalid-comment-sign{
    display: none;
    color: red;
}

#address-form button, #user-name-form button, #user-lastName-form button, #user-email-form button , #user-password-form button, #credit-card-form button,
#commentary-form button{
    background-color: #361C12;
    color: #F6EACC;
}

.order-card h5{
    font-weight: bold;
}
.order-card button{
    background-color: #361c12;
    border-color: none;
    border-style: none;
    color: #F6EACC;
    border-radius: 0.5em;
}
.order-card button:hover{
    transform: scale(1.05);
}

.order-info {
    display: inline-block;
    padding: 0.20rem 0.2rem; /* Reducido padding */
    color: #361C12;
    background-color: #FAF4E5;
    width: 100%;
    border-radius: 0.25rem; /* Bordes redondeados */
}

/* Inicio Orders */

#orderDetailsModal .modal-dialog {
    max-width: 60vw;
    margin: auto; /* Esto centrará horizontalmente el modal */
}

#orderDetailsModal .modal-content {
    width: 100%; /* Asegura que el contenido del modal tenga el 100% de ancho */
}

.modal-footer button{
 background-color: #996229;
 border-color: #996229;
}

.modal-footer button:hover{
    background-color: #361c12;
   }

/* estilos del footer */

footer{
    background-color: #361c12;
}

#social-media{
    box-sizing: border-box;
    width: 90%;
    margin: 0 auto;
}

#sucursales{
    box-sizing: border-box;
    width: 90%;
    margin: 0 auto;
}

.social-icon{
    width: 35px;
    height: 35px;
    margin: auto;
    transition: 1s;
}

.social-icon:hover{
    transform: scale(1.2);
    transition: 1s;
}