/*================================= body Styles =================================*/
body {
    background-color: #faf6ec;
    height: 100%;
    margin: 0;
}

/*================================ Header Styles ================================*/
header nav{
    /* https://stackoverflow.com/questions/12609110/responsive-css-background-images */
    background-color: #996229;
    font-family: 'Imprima', sans-serif;
    font-size: 1em;
    /* Tamaño predeterminado del texto del menú */
}

.header-logo-link:hover {
    border-bottom: 2px;
    border-bottom-style: solid;
    border-color: #ffffff;
}

.header-icons-link {
    font-size: 24px;
    border-radius: 3em;
}

.header-menu-icon {
    border-radius: 1em;
}

.header-icons-link:hover,
.header-menu-icon:hover {
    background-color: #9c846a8e;
}

#navegation-bar-logo {
    max-width: 100px;
}

.custom-toggler {
    background-color: transparent !important;
    border: none !important;
}

.custom-toggler:active,
.custom-toggler:focus {
    background-color: transparent !important;
    color: transparent !important;
}

.show .nav-link {
    text-decoration: none;
    font-size: 18px;
    /* Tamaño predeterminado del texto del menú */
    margin-left: 1rem;
}

.nav-link:hover {
    text-decoration-line: underline;
}


.description {
    max-width: 60vw;
}

#shopping-cart{
    position: relative;
    width: 60px;
}

#shopping-cart #cart-counter{
    position: absolute;
    text-align: center;
    right:0px;
    top: 3px;
    font-size: 1em;
    width: 1.5em;
    background-color: #7E4F25;
}

#shopping-cart #cart-icon{
    position: absolute;
    text-align: center;
    top:8px;
}

#introduction-container h6{
    font-family: 'Imprima', sans-serif;
    color:#361c12;
}

#introduction-container{
    border-bottom-style: solid;
    border-color: #996229;
    max-width: 80vw;
}
/*================================ Body Styles ================================*/

#shopping-products-container{
    max-width:80vw ;
}

.product-card{
    background-color: #F6EACC;
    max-width:80vw ;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 1em;
    font-family: 'arial', 'sans-serif';
    font-style: normal;
    font-weight:400;
    color: #361c12;
}

.product-card #product-name{
    font-family: 'Inter', 'sans-serif';
    text-align: start;
}

.product-card i {
    color: white;
    background-color: #361c12;
    padding: 0.5em 0.5em;
    text-align: center;
    justify-content: center;
    font-size: small;
}

.product-card span{
    font-family: 'Inter', 'sans-serif';
    padding: 0 0.5em;
    height: 26px;
    background-color: #ffffff;
}

#img-pic-container img {
    border-radius: 1em;
    width: 100%;
    height: auto;
    /* max-height:40vh; */
}


#product-price{
    font-family: 'Inter', 'sans-serif';
    height: 26px;
    background-color: #ffffff;
    padding: 0 0.5em;
    min-width: 75px;
    max-width: 76px;
}
#product-subtotal{
    font-family: 'Inter', 'sans-serif';
    text-align: end;
}

button.cantity-control{
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    height: 26px;
}

#delete-all-products-container button{
    background-color: #361c12;
    color: #F6EACC;
    border-radius: 1em;
    text-align: center;
    border: none;
    max-width: 100px;
}

#img-empty-car{
    display: none;
}
/*================================ Footer Styles ================================*/
footer {
    background-color: #361c12;
}

#social-media {
    box-sizing: border-box;
    width: 90%;
    margin: 0 auto;
}

#sucursales {
    box-sizing: border-box;
    width: 90%;
    margin: 0 auto;
}

.social-icon {
    width: 35px;
    height: 35px;
    margin: auto;
    transition: 1s;
}

.social-icon:hover {
    transform: scale(1.2);
    transition: 1s;
}

